<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Supporting You to Live Life Your Way</h1>
      <hr />
      <p>
        At CareConnect, we’re here to provide personalised support that enhances
        your independence and quality of life. Explore our range of NDIS
        services designed to help you achieve your goals.
      </p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll"
        >Find Out More</a
      >
    </div>
  </div>
</header>
