<section class="no-padding" id="testimonials">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="testimonials-box">
          <img src="img/testimonials/1.jpg" class="img-responsive" alt="" />
          <div class="testimonials-box-caption">
            <div class="testimonials-box-caption-content">
              <div class="project-category text-faded">Jessica Thompson</div>
              <div class="project-name">
                "Exceptional support and understanding. They truly care about
                their clients' well-being."
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="testimonials-box">
          <img src="img/testimonials/2.jpg" class="img-responsive" alt="" />
          <div class="testimonials-box-caption">
            <div class="testimonials-box-caption-content">
              <div class="project-category text-faded">Billy Jarra</div>
              <div class="project-name">
                "A professional team with a genuine approach to providing
                quality NDIS services."
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="testimonials-box">
          <img src="img/testimonials/3.jpg" class="img-responsive" alt="" />
          <div class="testimonials-box-caption">
            <div class="testimonials-box-caption-content">
              <div class="project-category text-faded">Sophie White</div>
              <div class="project-name">
                "Highly recommend! Their assistance has made a positive impact
                on my life."
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="testimonials-box">
          <img src="img/testimonials/4.jpg" class="img-responsive" alt="" />
          <div class="testimonials-box-caption">
            <div class="testimonials-box-caption-content">
              <div class="project-category text-faded">Michael Inala</div>
              <div class="project-name">
                "Very knowledgeable and respectful team. They make the whole
                process easy and stress-free."
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="testimonials-box">
          <img src="img/testimonials/5.jpg" class="img-responsive" alt="" />
          <div class="testimonials-box-caption">
            <div class="testimonials-box-caption-content">
              <div class="project-category text-faded">Lily Mungabareena</div>
              <div class="project-name">
                "Amazing staff who go above and beyond to support their
                clients."
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="testimonials-box">
          <img src="img/testimonials/6.jpg" class="img-responsive" alt="" />
          <div class="testimonials-box-caption">
            <div class="testimonials-box-caption-content">
              <div class="project-category text-faded">Daniel Clark</div>
              <div class="project-name">
                "Great NDIS provider with a caring approach. Highly recommend
                them to anyone in need."
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
